<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <title>URL Shortner</title>
</head>

<body>

    <div class="container">




        <h1>URL Shrinker</h1>
        <form action="/shortUrls" method="POST" class="my-4 form-inline">
            <label for="fullUrl" class="sr-only">URL</label>
            <input required class="form-control col mr-2" placeholder="Enter URL Here" type="url" name="fullUrl" id="fullUrl">
            <button class="btn btn-success" type="submit">Shrink</button>
        </form>

        <table class="table table-striped ">
            <thead>
                <tr>
                    <th>Full URL</th>
                    <th>Short URL</th>
                    <th>Total Clicks</th>
                </tr>
            </thead>
            <tbody>

                <% shortUrls.forEach(shortUrl => { %>



                    <tr>
                        <td>
                            <a href="<%= shortUrl.full %>">
                                <%= shortUrl.full %>
                            </a>
                        </td>
                        <td>
                            <a href="<%= shortUrl.short %>">
                                <%= shortUrl.short %>
                            </a>
                        </td>
                        <td>
                            <%= shortUrl.Clicks %>
                        </td>
                    </tr>
                    <% }) %>
            </tbody>
        </table>
    </div>
</body>

</html>